@import 'tailwindcss';
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@import "../../node_modules/preline/variants.css";

@source "../../node_modules/preline/dist/*.js";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'DM Sans', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --animate-slide-in-out: slide-in-out 4s ease-in-out;
    
    @keyframes slide-in-out {
        0%, 100% {
            top: -100%;
            transform: scale(20%);
            opacity: 0;
        }
        20%, 80% {
            top: 1rem;
            transform: scale(100%);
            opacity: 1;
        }
    }
}

.alert {
    @apply fixed -top-full left-1/2 -translate-x-1/2 animate-slide-in-out;
}

.navlink {
    @apply p-2 text-sm font-medium text-gray-800 hover:text-gray-500 focus:outline-hidden focus:text-gray-500 dark:text-neutral-200 dark:hover:text-neutral-500 dark:focus:text-neutral-500;
}

.navlink--active {
    @apply p-2 text-sm font-medium text-blue-600 focus:outline-hidden focus:text-blue-600 dark:text-blue-500 dark:focus:text-blue-500;
}
